body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-col{
    color:orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
}
.button2 {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
}
.upper-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    

}
.lower-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.lower-banner h1{
    margin-left:  65px;
}

.developer-section{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px grey;
    padding: 20px;
    border-radius: 5px;
}

#dev-left{
    border-left: 7px solid;
    border-image: linear-gradient(red, grey);
    border-image-slice: 1;


}

#dev-right{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}
